<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Piotr Ferdynus">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
    <nav>
        <ul class="menu">
            <li class="item"><a href="/">Home</a></li>
            <li class="item"><a href="/sender/sign-up">Sender - Register</a></li>
        </ul>
    </nav>
    {% block body %}{% endblock %}
<footer>
    <ul>
        <li>2020</li>
        <li>Piotr Ferdynus</li>
        <li><a href="https://github.com/piotrfer/inposter">GitHub</a></li>
    </ul>
</footer>
</body>
</html>