{% extends 'base.html' %}
{% block head %}
<title>Login as a sender</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth-pages.css') }}">
{% endblock %}
{% block body %}
<div class="content">
    <header>
        Log in as a sender
    </header>
    <form method="POST" enctype="multipart/form-data">
        <ul>
            <li>
                <input type="text" name="login" id="login" placeholder="login">
                <p id="login-message"></p>
            </li>
            <li>
                <input type="password" name="password" id="password" placeholder="password">
            </li>
            <p>You don't have an account? <button><a href="{{ url_for('sender_signup')}}">Register now!</a></button></p> 
            <li>
                <input type="submit" value="Sign In">
            </li>
            <li>
                <button type="button"><a href="{{ url_for('auth_auth0')}}">Log in with Auth0</a></button>
            </li>
        </ul>
    </form>
    
</div>
{% endblock %}