{% extends 'base.html' %}
{% block head %}
<title>Register a sender</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/sender-signup.css') }}">
<script src="{{ url_for('static', filename='script/sender-signup.js') }}"></script>
{% endblock %}
{% block body %}
<div class="content">
    <header>
        Sign up as a sender
    </header>
    <form action="https://infinite-hamlet-29399.herokuapp.com/sender/register" method="POST" id="signup-form" enctype="multipart/form-data">
        <ul>
            <li>
                <input type="text" id="firstname" name="firstname" placeholder="First Name">
                <p id="firstname-message"></p>
            </li>
            <li>
                <input type="text" id="lastname" name="lastname" placeholder="Last Name">
                <p id="lastname-message"></p>
            </li>
            <li>
                <input type="text" id="login" name="login" placeholder="Login">
                <p id="login-message"></p>
            </li>
            <li>
                <input type="password" id="password" name="password" placeholder="Password">
                <p id="password-message"></p>
            </li>
            <li>
                <input type="password" id="repassword" name="repassword" placeholder="Confirm Password">
                <p id="repassword-message"></p>
            </li>
            <li><label for="Gender">Gender:</label>
            <input type="radio" id="gender-male" name="sex" value="M" checked><label for="male">Male</label>
            <input type="radio" id="gender-female"name="sex" value="F"><label for="female">Female</label></li>
            <span id="gender-message"></span>
            <li>
                <div class="upload-btn-wrapper">
                    <button class="btn">Upload photo</button>
                    <input type="file" name="photo" id="photo">
                  </div>
                <p id="photo-message">Nie wybrano pliku</p>
            </li>
            <li>
                <input id="submit-form"type="submit" value="Sign Up">
                <span id="submit-message"></span>
            </li>
        </ul>
    </form>
</div>
{% endblock %}
