{% extends 'base.html' %}
{% block head %}
<title>Register a sender</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth-pages.css') }}">
<script src="{{ url_for('static', filename='script/sender-signup.js') }}"></script>
{% endblock %}
{% block body %}
<div class="content">
    <header>
        Sign up as a sender
    </header>
    <form action="/sender/sign-up" method="POST" id="signup-form" enctype="multipart/form-data">
        <ul>
            <li>
                <input type="text" id="firstname" name="firstname" placeholder="First Name">
                <p id="firstname-message"></p>
            </li>
            <li>
                <input type="text" id="lastname" name="lastname" placeholder="Last Name">
                <p id="lastname-message"></p>
            </li>
            <li>
                <input type="email" id="email" name="email" placeholder="email">
                <p id="email-message"></p>
            </li>
            <li>
                <input type="text" id="login" name="login" placeholder="Login">
                <p id="login-message"></p>
            </li>
            <li>
                <input type="password" id="password" name="password" placeholder="Password">
                <p id="password-message"></p>
            </li>
            <li>
                <input type="password" id="repassword" name="repassword" placeholder="Confirm Password">
                <p id="repassword-message"></p>
            </li>
            <li>
                <input type="text" id="address" name="address" placeholder="address">
                <p id="address-message"></p>
            </li>
            <p>You already have an account? <button><a href="{{ url_for('sender_login_get')}}">Log in</a></button></p>
            <li>
                <input id="submit-form" type="submit" value="Sign Up">
                <span id="submit-message"></span>
            </li>
        </ul>
    </form>
</div>
{% endblock %}