{% extends 'base.html' %}
{% block head %}
<title>Register a sender</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/sender-signup.css') }}">
<script src="{{ url_for('static', filename='script/sender-signup.js') }}"></script>
{% endblock %}
{% block body %}
<h1>Sign up as a sender</h1>
<form action="https://infinite-hamlet-29399.herokuapp.com/sender/register" method="POST" id="signup-form">
    <ul>
        <li>
            <input type="text" id="firstname" name="firstname" placeholder="First Name">
            <span id="firstname-message"></span>
        </li>
        <li>
            <input type="text" id="lastname" name="lastname" placeholder="Last Name">
            <span id="lastname-message"></span>
        </li>
        <li>
            <input type="text" id="login" name="login" placeholder="Login">
            <span id="login-message"></span>
        </li>
        <li>
            <input type="password" id="password" name="password" placeholder="Password">
            <span id="password-message"></span>
        </li>
        <li>
            <input type="password" id="repassword" name="repassword" placeholder="Confirm Password">
            <span id="repassword-message"></span>
        </li>
        <li><label for="Gender">Gender:</label>
        <input type="radio" id="gender-male" name="gender" value="male" checked><label for="male">Male</label>
        <input type="radio" id="gender-female"name="gender" value="female"><label for="female">Female</label></li>
        <span id="gender-message"></span>
        <li>
            <label for="photo">Upload your photo:</label>
            <input type="file" name="photo" id="photo" accept=".png,.jpg,.jpeg">
            <span id="photo-message"></span>
        </li>
        <li>
            <input id="submit-form"type="submit" value="Sign Up">
            <span id="submit-message"></span>
        </li>
    </ul>
</form>
{% endblock %}
